*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.logo{
    width: 300px;
    cursor: pointer;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 45px;
    width: 97%;
    position:fixed; /*No desaparezca el header*/
    z-index: 1; /*Capa #1, para colocar el header arriba del div*/
}

nav{
    float: left;
}

li, a{
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    /*font-weight: bold;*/
}

.nav_elements{
    list-style: none;
}

.nav_elements li{
    display: inline-block;
    padding: 0px 35px;
}

.nav_elements li a{
    transition: all 0.3s ease 0s;
}

.nav_elements li a:hover{
    color: #8cad24;
}

button{
    padding: 7px 20px;
    background-color: #8cad24;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

button:hover{
    background-color: #6c851d;
}

.one{
    height: 700px;
    background-image: url(../IMAGENES/siora-photography-cixohzDpNIo-unsplash.jpg);
    background-size: cover;
    /*opacity: 0.6;*/
    filter: brightness(0.6);
    position: relative;
    
}
