*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

.logo{
    width: 400px;
    cursor: pointer;
}

header{
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    width: 97%;
    position:fixed; /*No desaparezca el header*/
    z-index: 1; /*Capa #1, para colocar el header arriba del div*/
}

/*nav{
    float: left;
}*/

li, a{
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*font-weight: bold;*/
}

.nav_elements{
    list-style: none;
}

.nav_elements li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_elements li a{
    transition: all 0.3s ease 0s;
}

.nav_elements li a:hover{
    color: #bbb8b8;
}

button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button:hover{
    background-color: #bbb8b8;
}

.one{
    height: 700px;
    background-color: #E4E4E4;
    /*position: relative; */
    display: flex;
    align-items: center;
    /*justify-content: center; 
    text-align: center;*/
}

.iz{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iz_imagen{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iz_imagen img{
    width: 370px;
    border-radius: 10px;
}



.der{
    width: 50%;
    height: 700px;
}

.der h1{
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.der p{
    font-family: 'Poppins', sans-serif;
}
