/*TODA LA PAGINA*/
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E4E4E4;
}

/*HEADER*/
.logo{
    width: 400px;
    cursor: pointer;
}

header{
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    width: 97%;
    position:fixed; /*No desaparezca el header*/
    z-index: 1; /*Capa #1, para colocar el header arriba del div*/
}

.nav_elements li, a{
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*font-weight: bold;*/
}

.nav_elements{
    list-style: none;
}

.nav_elements li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_elements li a{
    transition: all 0.3s ease 0s;
}

.nav_elements li a:hover{
    color: #bbb8b8;
}

button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

button:hover{
    background-color: #bbb8b8;
}

/*SECCIÓN DE INICIO*/
.inicio{
    height: 635px;
    background-color: #E4E4E4;
    /*position: relative; */
    display: flex;
    align-items: center;
    /*justify-content: center; 
    text-align: center;*/
}

.iz{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    /*align-items: center;*/
}

.iz_imagen{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iz_imagen img{
    width: 370px;
    border-radius: 10px;
}

.der{
    width: 50%;
    height: 700px;
}

.der h1{
    padding-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.der p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.der a{
    font-size: 15px;
    font-weight: bold;
}

.servicios{
    text-align: center;
    height: 550px;
}

.cont_servicios{
    height: 420px;
    background-color: #E4E4E4;
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.ser1{
    width: 32.5%;
    height: 400px;
    background-color: #FAF1E6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser2{
    width: 32.5%;
    height: 400px;
    background-color: #FDFAF6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser3{
    width: 32.5%;
    height: 400px;
    background-color: #E4EFE7;
    text-align: center;
    display: flex;
    align-items: center;
}

.servicios img{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.servicios h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.servicios p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.contacto{
    width: 100%;
    height: 550px;
    background-color: black;
}

.contacto h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
}

.contacto p{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.tel_correo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tel_correo img{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tel{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correo{
    width: 300px;
    height: 300px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    text-align: center;
}

.cont h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.cont p{
    font-family: 'Poppins', sans-serif;
    color: white;
}