/*/////////////////////////////////////////// TODA LA PÁGINA ////////////////////////////////////////////////*/
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E4E4E4;
}

/*/////////////////////////////////////////// INDEX ////////////////////////////////////////////////*/

/*HEADER*/
.logo{
    width: 400px;
    cursor: pointer;
}

header{
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    width: 97%;
    position:fixed; /*No desaparezca el header*/
    z-index: 1; /*Capa #1, para colocar el header arriba del div*/
}

.nav_elements li, a{
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*font-weight: bold;*/
}

.nav_elements{
    list-style: none;
}

.nav_elements li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_elements li a{
    transition: all 0.3s ease 0s;
}

.nav_elements li a:hover{
    color: #bbb8b8;
}

.nav_elements button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.nav_elements button:hover{
    background-color: #bbb8b8;
}

/*SECCIÓN DE INICIO*/
.inicio{
    height: 635px;
    background-color: #E4E4E4;
    display: flex;
    align-items: center;
    
}

.iz_der{
    display: flex;
    align-items: center;
}

.iz{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    /*align-items: center;*/
}

.iz_imagen{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iz_imagen img{
    width: 370px;
    border-radius: 10px;
}

.der{
    width: 50%;
    height: 700px;
}

.der h1{
    padding-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.der p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.der a{
    font-size: 15px;
    font-weight: bold;
}

/*SECCIÓN DE SERVICIOS*/

.servicios{
    text-align: center;
    height: 700px;
    background-color: transparent;
}

.hiper{
    width: 100%;
    height: 120px;
}

.hiper a{
    color: #E4E4E4;
}

.cont_servicios{
    height: 420px;
    background-color: transparent;
    display: flex;
    justify-content:center;
    /*margin-top: 100px;*/
}

.servicios button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.servicios button:hover{
    background-color: #bbb8b8;
}


.ser1{
    width: 32.5%;
    height: 400px;
    background-color: #FAF1E6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser2{
    width: 32.5%;
    height: 400px;
    background-color: #FDFAF6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser3{
    width: 32.5%;
    height: 400px;
    background-color: #E4EFE7;
    text-align: center;
    display: flex;
    align-items: center;
}

.servicios img{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.servicios h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.servicios p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.contacto{
    width: 100%;
    height: 700px;
    background-color: black;
}

.contacto h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
}

.contacto p{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.tel_correo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.tel_correo img{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tel{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correo{
    width: 300px;
    height: 300px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    text-align: center;
}

.cont h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.cont p{
    font-family: 'Poppins', sans-serif;
    color: white;
}


/*/////////////////////////////////////////// LOGIN ////////////////////////////////////////////////*/


.principal{
    width: 100%;
    height: 230px;
    text-align: center;
}

.principal h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
}

.principal p{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.cont_formulario{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 250px;
}

.formulario label{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.ctexto{
    margin-bottom: 35px;
    width: 100%;
    background-color: #E4E4E4;
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
}

/*.formulario button{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#input{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}*/
.formulario button:hover{
    background-color: #bbb8b8;
}


/*//////////////////////////////////////// CONSULTA PACIENTE /////////////////////////////////////////////*/
.contenido{
    border-radius: 1em;
}

.calculos{
    height: 100%;
    width: 70%;
    border-radius: 1em;
    float: right;
    font-family: 'Poppins', sans-serif;
}

.calculos1{
    height: 100%;
    width: 30%;
    float: left;
}

.calculos1 button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.calculos2{
    height: 100%;
    width: 70%;
}

.datos_paciente{
    margin-top: 0px;
    width: 30%;
    height: 1000px;
    /*border-radius: 1em;*/
    float: left;
    background-color: #C0BBB5;
}

.boton1{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.boton2{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: -20px -50px; 
    position:relative; 
    left:50%;   
}

.tablas{
    border-style: none;
    width: auto;
}

.formconsu input{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #C0BBB5;
}

.formconsu label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.formconsu2 input{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #E4E4E4;
}

.datos_paciente h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
}

.textoejem{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.td_espacio{
    width: 20%;
}

.cons_boton{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/*
.por{
    width: 500px;
}
*/



/*//////////////////////////////////////// LISTA PACIENTES /////////////////////////////////////////////*/
.lp_cont{
    /*background-color: blue;*/
    /*width: 80%;*/
    width: 100%;
    height: 700px;
    /*margin-left: 136px;*/
    /*display: block;
    align-items: center;*/
}

.lp_cont table{
    margin: auto; /*centrar*/
}

select{
    padding: 7px 12px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.lp_cont p{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.busqueda{
    margin-left: 20px;
    width: 100%;
    background-color: #E4E4E4;
    padding: 5px 12px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
}

.buscar{
    padding: 6px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}

.buscar:hover{
    background-color: #bbb8b8;
}

.npaciente{
    padding: 6px 25px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.npaciente:hover{
    background-color: #bbb8b8;
}

.datos{
    /*border: solid 1px;*/
    border-collapse: collapse;
}

.datos th{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 13px 25px;
}
.datos td{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 25px;
    border-bottom: solid 1px #bbb8b8;
}

.datos a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: grey;
    text-decoration: underline;
}



/*///////////////////////////////////////// MENU PACIENTE //////////////////////////////////////////////*/





/*////////////////////////////////////// REGISTRAR PACIENTE ////////////////////////////////////////////*/
.contenido2{
    
    border-radius: 1em;
}

.izquierda{
    
    width: 50%;
    border-radius: 1em;
    float: left;
    background-color: #C0BBB5;
    font-family: 'Poppins', sans-serif;
}

.derecha{
    
    width: 50%;
    border-radius: 1em;
    float: right;
    font-family: 'Poppins', sans-serif;
}

.formconsu select{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #C0BBB5;   
}

.formconsu2 textarea{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #E4E4E4;      
}

.boton3{
    padding: 6px 25px;
    width: 250px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: -20px -50px; 
    position:relative; 
    left:40%;   
}
