/*/////////////////////////////////////////// TODA LA PÁGINA ////////////////////////////////////////////////*/
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E4E4E4;
}

/*/////////////////////////////////////////// INDEX ////////////////////////////////////////////////*/

/*HEADER*/
.logo{
    width: 400px;
    cursor: pointer;
}

header{
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    width: 97%;
    position:fixed; /*No desaparezca el header*/
    z-index: 1; /*Capa #1, para colocar el header arriba del div*/
}

.nav_elements li, a{
    text-decoration: none;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*font-weight: bold;*/
}

.nav_elements{
    list-style: none;
}

.nav_elements li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_elements li a{
    transition: all 0.3s ease 0s;
}

.nav_elements li a:hover{
    color: #bbb8b8;
}

.nav_elements button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.nav_elements button:hover{
    background-color: #bbb8b8;
}

/*SECCIÓN DE INICIO*/
.inicio{
    height: 635px;
    background-color: #E4E4E4;
    display: flex;
    align-items: center;
    
}

.iz_der{
    display: flex;
    align-items: center;
}

.iz{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
    /*align-items: center;*/
}

.iz_imagen{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iz_imagen img{
    width: 370px;
    border-radius: 10px;
}

.der{
    width: 50%;
    height: 700px;
}

.der h1{
    padding-top: 250px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.der p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.der a{
    font-size: 15px;
    font-weight: bold;
}

/*SECCIÓN DE SERVICIOS*/

.servicios{
    text-align: center;
    height: 700px;
    background-color: transparent;
}

.hiper{
    width: 100%;
    height: 120px;
}

.hiper a{
    color: #E4E4E4;
}

.cont_servicios{
    height: 420px;
    background-color: transparent;
    display: flex;
    justify-content:center;
    /*margin-top: 100px;*/
}

.servicios button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.servicios button:hover{
    background-color: #bbb8b8;
}


.ser1{
    width: 32.5%;
    height: 400px;
    background-color: #FAF1E6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser2{
    width: 32.5%;
    height: 400px;
    background-color: #FDFAF6;
    text-align: center;
    display: flex;
    align-items: center;
}

.ser3{
    width: 32.5%;
    height: 400px;
    background-color: #E4EFE7;
    text-align: center;
    display: flex;
    align-items: center;
}

.servicios img{
    width: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.servicios h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.servicios p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.contacto{
    width: 100%;
    height: 700px;
    background-color: black;
}

.contacto h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
}

.contacto p{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.tel_correo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.tel_correo img{
    width: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tel{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.correo{
    width: 300px;
    height: 300px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
    text-align: center;
}

.cont h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}

.cont p{
    font-family: 'Poppins', sans-serif;
    color: white;
}


/*/////////////////////////////////////////// LOGIN ////////////////////////////////////////////////*/


.principal{
    width: 100%;
    height: 230px;
    text-align: center;
}

.principal h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
}

.principal p{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.cont_formulario{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 250px;
}

.formulario label{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.ctexto{
    margin-bottom: 35px;
    width: 100%;
    background-color: #E4E4E4;
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
}

/*.formulario button{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#input{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}*/
.formulario button:hover{
    background-color: #bbb8b8;
}


/*//////////////////////////////////////// CONSULTA PACIENTE /////////////////////////////////////////////*/
/*.contenido{
    border-radius: 1em;
}*/

.cont-cons{
    display: grid;
    grid-template-columns: 500px 800px;
    gap: 20px;
    position: absolute;
    top: 120px;
    margin-inline: 20px;
}

.calculos{
    height: 100%;
    /*width: 70%;*/
    /*border-radius: 1em;*/
    float: right;
    font-family: 'Poppins', sans-serif;
    /*background-color: black;*/
}

.uno{
    margin-bottom: 20px;
    background-color: black;
}

.calculos h1{
    text-align: center;
    color: white;
}

.calculos p, .calculos label{
    text-align: center;
    color: white;
    margin-right: 15px;
}

.calculos input {
    padding-inline: 10px;
    height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 3px;
    border: solid black 1px;
    width: 90px;
}

.calculos button{
    padding: 8.5px 50px;
    width: 170px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-inline: 20%;
    margin-top: 25px;
}

.calculos a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.calculos1{
    height: 100%;
    width: 95%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 20px;
    margin: auto;
    padding-top: 20px;
}

.calculos1 div{
    height: 80px;
}

.calculos1 div h1{
    text-align: center;
    color: white;
}

.calculos1 .kcal{
    text-align: center;
    color: white;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 150px;
}

.calculos1 hr{
    border: solid white 1px;
}

.cons_form{
    background-color: black;
}

.estatura_peso{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin: auto;
    margin-top: 40px;
    width: 550px;
}

.calculos1 button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.calculos2{
    height: 100%;
    width: 70%;
    margin: auto;
}

.datos_paciente{
    margin-top: 0px;
    /*width: 30%;*/
    height: 1000px;
    /*border-radius: 1em;*/
    float: left;
    background-color: white;
    padding: 20px;
}

.boton1{
    padding: 10px 50px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-inline: 20%;
    margin-top: 25px;
}

.boton2{
    padding: 6px 25px;
    width: 280px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: -20px -50px; 
    position:relative; 
    left:50%;   
}

.tablas{
    border-style: none;
    width: auto;
    margin: auto;
}

.tablas td{
    color: white;
    text-align: center;
}

.formconsu input{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #C0BBB5;
}

.formconsu label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.formconsu2 input{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #E4E4E4;
}

.datos_paciente h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
}

.datos_paciente p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.datos_paciente h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.datos_paciente div{
    margin-top: 50px;
}

.datos_paciente div p{
    text-align: center;
    margin-bottom: 10px;
}

.datos_paciente div h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.textoejem{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.td_espacio{
    width: 20%;
}

.cons_boton{
    padding: 6px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

hr{
    border: solid black 1px;
    margin: 20px;
}

/*
.por{
    width: 500px;
}
*/



/*//////////////////////////////////////// LISTA PACIENTES /////////////////////////////////////////////*/
/*!dfsdfsdfds*/ 
.lp_cont{
    /*background-color: blue;*/
    /*width: 80%;*/
    width: 100%;
    height: 700px;
    /*margin-left: 136px;*/
    /*display: block;
    align-items: center;*/
}

.lp_cont table{
    margin: auto; /*centrar*/
}

.lp-select{
    padding: 7px 12px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.lp_cont p{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.busqueda{
    margin-left: 20px;
    width: 100%;
    background-color: #E4E4E4;
    padding: 5px 12px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
}

.buscar{
    padding: 6px 25px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}

.buscar:hover{
    background-color: #bbb8b8;
}

.npaciente{
    padding: 6px 25px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.npaciente:hover{
    background-color: #bbb8b8;
}

.datos{
    /*border: solid 1px;*/
    border-collapse: collapse;
}

.datos th{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 13px 25px;
}
.datos td{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 10px 25px;
    border-bottom: solid 1px #bbb8b8;
}

.datos a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: grey;
    text-decoration: underline;
}



/*///////////////////////////////////////// MENU PACIENTE //////////////////////////////////////////////*/





/*////////////////////////////////////// REGISTRAR PACIENTE ////////////////////////////////////////////*/
.reg-grid{
    display: grid;
    grid-template-columns: 49% 49%;
    position: relative;
    gap: 23px;
    /*margin-left: 22px;
    margin-right: 22px;*/
    margin: 22px;
}

.titulo-reg{
    padding-top: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

.form-reg{
    padding-top: 100px;
}

/*.izquierda{
    
    width: 50%;
    height: 100%;
    position: absolute;
    top: 100px;
    com   border-radius: 1em;   com
    float: left;
    background-color: #C0BBB5;
    font-family: 'Poppins', sans-serif;
}

.derecha{
    
    width: 50%;
    border-radius: 1em;
    float: right;
    font-family: 'Poppins', sans-serif;
}*/

.datos-reg{
    background-color: white;
    height: auto;
}

.datos-reg h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*.form-reg select{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #C0BBB5;   
}

.form-reg textarea{
    font-family: 'Poppins', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    background-color: #E4E4E4;      
}*/

.boton3{
    padding: 6px 25px;
    width: 250px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: -20px -50px; 
    position:relative; 
    left:40%;   
}

.datos-pers{
    margin-left: 20px;
    margin-right: 20px;
}

.datos-pers input{
    padding-inline: 20px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: solid black 1px;
}

.datos-pers tr{
    margin-bottom: 30px;
}

.datos-pers label{
    font-family: 'Poppins', sans-serif;
}

.datos-pers select{
    padding-inline: 50px;
    height: 40px;
    position: relative;
    top: -14px;
}

.datos-pers textarea{
    padding-inline: 10px;
    height: 75px;
    width: 270px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    border: solid black 1px;
}

.datos-reg .boton{
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.datos-reg div{
    margin: auto;
    width: 220.25px;
    margin-bottom: 15px;
}
